@model IEnumerable<IndyBooks.Models.Book>
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
}

<h3>Search Result</h3>

<h4>The highest priced book from the list is: @ViewBag.HighestPrice</h4>


<!-- TODO: Update to use the new properties from the ERD-->
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author Name
        </th>
        <th>
            Author Surname
        </th>
        <th>
            SKU
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var book in Model)
    {
<tr>
    <td>
        @book.Title
    </td>
    <td>
        @book.Author.FirstName
    </td>
    <td>
        @book.Author.LastName
    </td>
    <td>
        @book.SKU
    </td>
    <td class="rightedge">
        $@book.Price
    </td>
</tr>
    }

</table>


